<section class="container citypage" ng-init="main.loadPage()">

<h1>{{main.selected.city }} , {{main.selected.country}} </h1>


<div class="col-md-4" id="instaGIF">
  <img ng-src="https://nomadlist.com{{main.nomadResult.media.image[500]}}">
</div>

<div class="col-md-8 citydescription" >
  <br>{{(main.wikiDesc.extract).substring(0,500);}}...</br>

</div>


</section>
<section class="container"> 


<container class="col-md-4">
<h3><i class="fa fa-bar-chart"></i>scores</h3>
  <ul>
    <li><i class="fa fa-plug"></i>Air conditioning: {{main.nomadResult.scores.aircon}}
    <i class="fa fa-star" ng-if="main.nomadResult.scores.aircon >= 0.1"></i>
    <i class="fa fa-star" ng-if="main.nomadResult.scores.aircon >= 0.3" ></i>
    <i class="fa fa-star" ng-if="main.nomadResult.scores.aircon >= 0.5" ></i>
    <i class="fa fa-star" ng-if="main.nomadResult.scores.aircon >= 0.7"></i>
    <i class="fa fa-star" ng-if="main.nomadResult.scores.aircon >= 0.9"></i> 
    </li>


    <li><i class="fa fa-female"></i>Female Friendly: {{main.nomadResult.scores.female_friendly}}
    <i class="fa fa-star" ng-if="main.nomadResult.scores.female_friendly >= 0.1"></i>
    <i class="fa fa-star" ng-if="main.nomadResult.scores.female_friendly >= 0.3" ></i>
    <i class="fa fa-star" ng-if="main.nomadResult.scores.female_friendly>= 0.5" ></i>
    <i class="fa fa-star" ng-if="main.nomadResult.scores.female_friendly >= 0.7"></i>
    <i class="fa fa-star" ng-if="main.nomadResult.scores.female_friendly >= 0.9"></i> 
    </li>


    <li><i class="fa fa-wifi"></i>Wifi accessibility/quality:  {{main.nomadResult.scores.free_wifi_available}}
    <i class="fa fa-star" ng-if="main.nomadResult.scores.free_wifi_available >= 0.1"></i>
    <i class="fa fa-star" ng-if="main.nomadResult.scores.free_wifi_available >= 0.3" ></i>
    <i class="fa fa-star" ng-if="main.nomadResult.scores.free_wifi_available>= 0.5" ></i>
    <i class="fa fa-star" ng-if="main.nomadResult.scores.free_wifi_available >= 0.7"></i>
    <i class="fa fa-star" ng-if="main.nomadResult.scores.free_wifi_available >= 0.9"></i> 
    </li>
    <li>Internet Download Speed: {{main.nomadResult.info.internet.speed.download | currency: "Mbps"}}</li>

    <li><i class="fa fa-users"> </i>Friendly to foreigners: {{main.nomadResult.scores.friendly_to_foreigners}}
    <i class="fa fa-star" ng-if="main.nomadResult.scores.friendly_to_foreigners >= 0.1"></i>
    <i class="fa fa-star" ng-if="main.nomadResult.scores.friendly_to_foreigners >= 0.3" ></i>
    <i class="fa fa-star" ng-if="main.nomadResult.scores.friendly_to_foreigners>= 0.5" ></i>
    <i class="fa fa-star" ng-if="main.nomadResult.scores.friendly_to_foreigners >= 0.7"></i>
    <i class="fa fa-star" ng-if="main.nomadResult.scores.friendly_to_foreigners >= 0.9"></i> 
    </li>


   <li><i class="fa fa-map-o"></i>Friendly to foreigners:  {{main.nomadResult.scores.leisure}}    <i class="fa fa-star" ng-if="main.nomadResult.scores.leisure >= 0.1"></i>
    <i class="fa fa-star" ng-if="main.nomadResult.scores.leisure >= 0.3" ></i>
    <i class="fa fa-star" ng-if="main.nomadResult.scores.leisure>= 0.5" ></i>
    <i class="fa fa-star" ng-if="main.nomadResult.scores.leisure >= 0.7"></i>
    <i class="fa fa-star" ng-if="main.nomadResult.scores.leisure >= 0.9"></i> 
    </li>

   <li><i class="fa fa-transgender"></i>LGBT Friendly: {{main.nomadResult.scores.lgbt_friendly}}    <i class="fa fa-star" ng-if="main.nomadResult.scores.lgbt_friendly >= 0.3" ></i>
    <i class="fa fa-star" ng-if="main.nomadResult.scores.lgbt_friendly = 0.5" ></i>
    <i class="fa fa-star" ng-if="main.nomadResult.scores.lgbt_friendly >= 0.7"></i>
    <i class="fa fa-star" ng-if="main.nomadResult.scores.lgbt_friendly >= 0.9"></i> 
    </li>

   <li><i class="fa fa-heart"></i>Quality of lifescore:  {{main.nomadResult.scores.life_score}} 
   <i class="fa fa-star" ng-if="main.nomadResult.scores.life_score >= 0.3" ></i>
       <i class="fa fa-star" ng-if="main.nomadResult.scores.life_score = 0.5" ></i>
       <i class="fa fa-star" ng-if="main.nomadResult.scores.life_score >= 0.7"></i>
       <i class="fa fa-star" ng-if="main.nomadResult.scores.life_score >= 0.9"></i> 
       </li>


   <li><i class="fa fa-glass"></i>Nightlife: {{main.nomadResult.scores.nightlife}}
   <i class="fa fa-star" ng-if="main.nomadResult.scores.nightlife >= 0.3" ></i>
       <i class="fa fa-star" ng-if="main.nomadResult.scores.nightlife = 0.5" ></i>
       <i class="fa fa-star" ng-if="main.nomadResult.scores.nightlife >= 0.7"></i>
       <i class="fa fa-star" ng-if="main.nomadResult.scores.nightlife >= 0.9"></i> 
       </li>

   <li><i class="fa fa-building"></i>Opportunites for work: {{main.nomadResult.scores.places_to_work}}   <i class="fa fa-star" ng-if="main.nomadResult.scores.places_to_work >= 0.3" ></i>
       <i class="fa fa-star" ng-if="main.nomadResult.scores.places_to_work = 0.5" ></i>
       <i class="fa fa-star" ng-if="main.nomadResult.scores.places_to_work >= 0.7"></i>
       <i class="fa fa-star" ng-if="main.nomadResult.scores.places_to_work >= 0.9"></i> 
       </li>


   <li><i class="fa fa-child"></i>Non-racist: {{main.nomadResult.scores.racism}} <i class="fa fa-star" ng-if="main.nomadResult.scores.racism >= 0.3" ></i>
       <i class="fa fa-star" ng-if="main.nomadResult.scores.racism = 0.5" ></i>
       <i class="fa fa-star" ng-if="main.nomadResult.scores.racism >= 0.7"></i>
       <i class="fa fa-star" ng-if="main.nomadResult.scores.racism >= 0.9"></i> 
       </li>

   <li><i class="fa fa-bomb"></i>Safety: {{main.nomadResult.scores.scores.safety}} 
   <i class="fa fa-star" ng-if="main.nomadResult.scores.scores.safety >= 0.3" ></i>
  <i class="fa fa-star" ng-if="main.nomadResult.scores.scores.safety = 0.5" ></i>
  <i class="fa fa-star" ng-if="main.nomadResult.scores.scores.safety >= 0.7"></i>
  <i class="fa fa-star" ng-if="main.nomadResult.scores.scores.safety >= 0.9"></i> 
  </li>


  <h4>Further scores...</h4>
  <li ng-repeat="summary in main.summary track by $index">
  <span>{{summary.Index}}</span> : <span>{{summary[1]}}</span>
  </li>
          
  </ul>
</container>

<container class="col-md-4">
  <h3>$ Costs</h3>
  <ul>
    <li>
    Monthly Rent: {{main.nomadResult.cost.local.USD | currency: "$"}} 
    </li>
    <li>
    Typical Expat Monthly Spend: {{main.nomadResult.cost.expat.USD | currency: "$"}} 
    </li>
    <li>
    Hotel per night: {{main.nomadResult.cost.hotel.USD | currency: "$"}} 
    </li>
    <li>
    AirBnB per night: {{main.nomadResult.cost.airbnb_median.USD | currency: "$"}} 
    </li>
    <li>
    Beer in bar: {{main.nomadResult.cost.beer_in_cafe.USD | currency: "$"}} 
    </li>
    <li>
    Coffee in cafe: {{main.nomadResult.cost.coffee_in_cafe.USD | currency: "$"}} 
    </li>
    <li>
    Coca cola in cafe: {{main.nomadResult.cost.non_alcoholic_drink_in_cafe.USD | currency: "$"}} 
    </li>
    <li ng-repeat="detail in main.detailed track by $index">
    <span>{{detail['Salaries And Financing']}}</span> :{{main.country.currencies[0]}}
    {{ detail[2] }}</span>
  </ul>
</container>

<container class="col-md-4">
<p class="green" ng-if="main.benchmarks.london.rent > main.nomadResult.cost.local.USD"> Rent is cheaper here than London</p>

<p class="red" ng-if="main.benchmarks.bangkok.rent < main.nomadResult.cost.local.USD"> Rent costs more here than Bangkok</p>
<p class="green" ng-if="main.benchmarks.london.coffee > main.nomadResult.cost.coffee_in_cafe.USD"> Coffee is cheaper here than London</p>
<p class="red" ng-if="main.benchmarks.bangkok.beer < main.nomadResult.cost.beer_in_cafe.USD"> Beer costs more here than Bangkok</p>
<p class="green" ng-if="main.benchmarks.london.beer > main.nomadResult.cost.beer_in_cafe.USD"> Beer is cheaper here than London</p>
<p class="red" ng-if="main.benchmarks.bangkok.coffee < main.nomadResult.cost.coffee_in_cafe.USD"> Coffee costs more here than Bangkok</p>

<p class="green" ng-if="main.benchmarks.sydney.lgbt > main.nomadResult.scores.lgbt_friendly"> More LGBT friendly than Sydney</p>
<p class="red" ng-if="main.benchmarks.bangkok.racism < main.nomadResult.scores.racism"> More racist than New York</p>

</container>
<container class="col-md-4">
<div class="col-md-2 instaPhoto" ng-repeat="src in main.instagrams track by $index">
  <img ng-src="{{src}}"/>
</div>
</container>

</section>
