<section ng-controller="webcamController as webcam">

<h1>Gif Maker</h1>

<div ng-hide="webcam.hasSetUsername">
  <form ng-submit="webcam.setUsername()">
    <div class="form-group">
      <input ng-model="webcam.username" class="form-control" placeholder="Username">
    </div>

    <button class="btn btn-primary">Start Chatting!</button>
  </form>
</div>

<div ng-show="webcam.hasSetUsername">
  <div id="message-panel">
    <ul>
      <li ng-repeat="message in webcam.messages track by $index" ng-class="{ me: message.username === webcam.username }">
        <span class="message">{{ message.text }}</span>
        <span class="username">{{ message.username }}</span>
      </li>
    </ul>
  </div>

  <form ng-submit="webcam.sendMessage()" class="form-inline">
    <div class="form-group">
      <input ng-model="webcam.message" class="form-control">
    </div>

    <button class="btn btn-primary">Send</button>
  </form>
</div>


<h1>Webcam Ideas Test</h1>


 

<button ng-click="webcam.makeAnimatedGif()">Make Animated Gif</button>



<!-- Fairly sure I need the below line for Mobile -->
<input type="file" accept="image/*;capture=camera">
<video autoplay="true" id="videoElement">


</video>
</section>