
<h1>Inequality-adjusted HDI</h1>

<p>https://en.wikipedia.org/wiki/List_of_countries_by_inequality-adjusted_HDI</p>


https://en.wikipedia.org/wiki/World_Happiness_Report

State_of_World_Liberty_Index#2015_rankings

<form name="myForm">
  <label for="singleSelect" class="selectpicker"> Single select: </label><br>
  <select name="singleSelect" ng-model="main.selectedWikiTable">
    <option value="World_Happiness_Report">World_Happiness_Report</option>
    <option value="List_of_countries_by_inequality-adjusted_HDI">Cities by inequality-adjusted_HDI</option>
    <option value="List_of_countries_by_GDP_(nominal)_per_capita">GDP per person</option>
    <option value="State_of_World_Liberty_Index#2015_rankings">State_of_World_Liberty_Index#2005_rankings</option>
  </select><br>
</form ng-blur="main.getWikiTable(main.selectedWikiTable)">



<button ng-click="main.getWikiTable(main.selectedWikiTable);">Get Wiki</button>

<div id="chart_div"></div>

<ul>
<li ng-repeat="n in main.wikitable track by $index">
<div ng-click="main.gotoCity(n.Country)">{{$index}} )<span>{{n.Country}}</span>
</div>
</ul>