#message-panel {
  height: calc(80vh - 50px);
  border: 1px solid #ddd;
  margin-bottom: 20px;
  border-radius: 4px;
  overflow-y: scroll;
  position: relative;
}

#message-panel ul {
  margin: 0;
  padding: 0;

  list-style: none;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#message-panel ul li{
  padding: 3px 12px;
  width: calc(100% - 8px);
  border-radius: 4px;
  background-color: #eee;
  margin: 4px;
}

#message-panel ul li span.message {
  display: inline-block;
  width: 75%;
}

#message-panel ul li span.username {
  display: inline-block;
  width: calc(25% - 4px);
  text-align: right;
  color: #bbb;
  font-weight: 600;
}

#message-panel ul li.me {
  text-align: right;
  background-color: rgba(0, 221, 0, 0.6);
}

.form-inline .form-group {
  width: 80%;
}

.form-inline .form-control {
  width: 100%;
}


daisy{
  position: absolute;
   cursor: pointer;
}
#turf{
  position: absolute;
  width: px;
  height: 17px;
  left: -20px;
  margin-top: 9px;
}
#daisyseg1{
  position: absolute;
  width: 3px;
  height: 20px;
  left: 1px;
  margin-top: -1px;
  fill: green;
}
#daisyseg2{
 position: absolute;
     left: 6px;
     width: 3px;
     height: 20px;
     margin-top: -1px;
     fill: green;
}
#daisyseg3{
  position: absolute;
      left: 12px;
      width: 3px;
      margin-top: 7px;
      fill: green;
}
#daisyseg4{
  position: absolute;
  width: 20px;
  height: 20px;
  top: -13px;
  left:-13px;
  fill: green;
}
#daisyseg5{
  position: absolute;
      width: 20px;
      height: 20px;
      top: -13px;
      left: -5px;
      fill: green;
}
#daisyseg6{
  position: absolute;
  width: 20px;
  height: 20px;
  top: -13px;
  left: 4px;
  fill: green;
}
#daisyseg7{
  position: absolute;
      width: 20px;
      height: 20px;
      top: -13px;
      left: -22px;
      fill: green;
}
#daisyseg8{
 position: absolute;
 width: 15px;
 height: 17px;
 top: -13px;
 left: 13px;
 fill: green;
}
#daisyseg9{
  position: absolute;
      width: 6px;
      top: -22px;
      left: -2px;
      fill: green;
}
#daisyseg10{
  position: absolute;
  width: 3px;
  height: px;
  top: -21px;
  left: 12px;
  fill: green;
}
#daisyseg11{
  position: absolute;
      width: 20px;
      height: 20px;
      margin-top: -30px;
      left: -25px;
      fill: pink;
}
#daisyseg12{
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: -40px;
  left: -12px;
  fill: white;
}
#daisyseg13{
  position: absolute;
     width: 20px;
     height: 20px;
     margin-top: -32px;
     left: 1px;
     fill: pink;

}
#daisyseg14{
  position: absolute;
      width: 20px;
      height: 20px;
      fill: white;
      margin-top: -40px;
      left: -30px;
}
#daisyseg15{
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: -47px;
  fill: pink;
}

buildpalm {
  display: inline-block;
  position: relative;
  width: 120px;
  height: 350px;
}

#Capa_1{
  width: 350px;
}

#plantpot{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  fill: #C45F41;
}

#segmentpalm1{
  position: absolute;
  bottom: 85px;
  left: 27px;
  width: 45px;
  z-index: 2;
  fill: #e3c362;
}

#segmentpalm2{
  position: absolute;
  bottom: 110px;
  left: 27px;
  width: 45px;
  z-index: 2;
  fill: #e3c362;
}

#segmentpalm3{
  position: absolute;
  bottom: 135px;
  left: 27px;
  width: 45px;
  z-index: 2;
  fill: #e3c362;
}

#segmentpalm4{
  position: absolute;
  bottom: 160px;
  left: 27px;
  width: 45px;
  z-index: 2;
  fill: #e3c362;
}

#segmentpalm5{
  position: absolute;
  bottom: 185px;
  left: 27px;
  width: 45px;
  z-index: 2;
  fill: #e3c362;
}

#palmseg1{
  position: absolute;
  bottom: 168px;
  left: -52px;
  width: 100px;
  z-index: 2;
  fill: #CFFFB7;

}

#palmseg2{
  position: absolute;
  bottom: 200px;
  left: -70px;
  width: 126px;
  z-index: 2;
  fill: #90CD42;
}


#palmseg3{
  position: absolute;
  bottom: 210px;
  left: -70px;
  width: 126px;
  z-index: 2;
  fill: #9FD77E;
}

#palmseg4{
  position: absolute;
  bottom: 217px;
  left: -78px;
  width: 126px;
  z-index: 2;
  fill: #5DA87F;
}


#palmseg5{
  position: absolute;
  bottom: 217px;
  left: -51px;
 width: 100px;
  z-index: 2;
  fill: #CFFFB7;
}


#palmseg6{
  position: absolute;
  bottom: 154px;
  left: 37px;
  width: 120px;
  z-index: 2;
  fill: #629E68;
}

#palmseg7{
  position: absolute;
  bottom: 195px;
  left: 37px;
  width: 146px;
  z-index: 2;
  fill: #8EC695;
}

#palmseg8{
  position: absolute;
  bottom: 208px;
  left: 37px;
  width: 146px;
  z-index: 2;
  fill: #A2C571;
}

#palmseg9{
  position: absolute;
  bottom: 210px;
  left: 37px;
  width: 146px;
  z-index: 2;
  fill: #ABCCC3;
}

#palmseg10{
  position: absolute;
  bottom: 210px;
  left: 40px;
  width: 104px;
  z-index: 2;
  fill: #659740;
}

/*#shelf{
  position: relative;
  display: block;
  bottom: 0;
  margin-top: 0px;
}*/

/*.wateringcan{
  width:100px;
  height:100px;
  background: url(../images/wateringcan.png);
  background-size: 100px 100px;
}*/

#container {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #00BBFF;
    border-bottom: green 3vh solid;
    top: 0px;
}

.shape {
    position: absolute;
    width:100px;
    height:100px;
    background: url(../images/wateringcan.png);
    background-size: 100px 100px;
    left: 500px;
    top: 250px;
}


/*background: -webkit-linear-gradient(left, #00BBFF, #00BBFF 14.3%, #2EB5E5 14.3%, #2EB5E5 28.6%, #E6E6E6 28.6%, #E6E6E6 42.9%, #F3D166 42.9%, #F3D166 57.2%, #222233 57.2%, #222233 71.5%, #444444 71.5%, #444444 85.8%, #85DB8C 85.8%);
  background: linear-gradient(left, #00BBFF, #00BBFF 14.3%, #2EB5E5 14.3%, #2EB5E5 28.6%, #E6E6E6 28.6%, #E6E6E6 42.9%, #F3D166 42.9%, #F3D166 57.2%, #222233 57.2%, #222233 71.5%, #444444 71.5%, #444444 85.8%, #85DB8C 85.8%);*/

/* SUNNY */
.sunny {
  -webkit-animation: sunny 15s linear infinite;
          animation: sunny 15s linear infinite;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 100%);
  height: 140px;
  width: 20px;
  position: absolute;
  top: -50px;
/*  left: 400px;
  top: -550px;*/
}

.sunny:before {
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 100%);
  content: '';
  height: 140px;
  width: 20px;
  opacity: 1;
  position: absolute;
  bottom: 0px;
  left: 0px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.sunny:after {
  background: #FFEE44;
  border-radius: 50%;
  box-shadow: rgba(255, 255, 0, 0.2) 0 0 0 15px;
  content: '';
  height: 80px;
  width: 80px;
  position: absolute;
  left: -30px;
  top: 30px;
}

@-webkit-keyframes sunny {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes sunny {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/* CLOUDY */
.cloudy {
  -webkit-animation: cloudy 5s ease-in-out infinite;
          animation: cloudy 5s ease-in-out infinite;
  background: #FFFFFF;
  border-radius: 50%;
  box-shadow: #FFFFFF 65px -15px 0 -5px,  #FFFFFF 25px -25px,  #FFFFFF 30px 10px,  #FFFFFF 60px 15px 0 -10px,  #FFFFFF 85px 5px 0 -5px;
  height: 50px;
  width: 50px;
/*  margin-left: -60px;*/
  position: absolute;
/*  left: 400px;
  top: -500px;*/
}

.cloudy:after {
  -webkit-animation: cloudy_shadow 5s ease-in-out infinite;
          animation: cloudy_shadow 5s ease-in-out infinite;
  background: #000000;
  border-radius: 50%;
  content: '';
  height: 15px;
  width: 120px;
  opacity: 0.2;
  position: absolute;
  left: 5px;
  bottom: -60px;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

@-webkit-keyframes cloudy {
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@keyframes cloudy {
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}
@-webkit-keyframes cloudy_shadow {
  50% {
    -webkit-transform: translateY(20px) scale(1);
            transform: translateY(20px) scale(1);
    opacity: .05;
  }
}
@keyframes cloudy_shadow {
  50% {
    -webkit-transform: translateY(20px) scale(1);
            transform: translateY(20px) scale(1);
    opacity: .05;
  }
}
/* RAINY */
.rainy {
  -webkit-animation: rainy 5s ease-in-out infinite 1s;
          animation: rainy 5s ease-in-out infinite 1s;
  background: #CCCCCC;
  border-radius: 50%;
  box-shadow: #CCCCCC 65px -15px 0 -5px,  #CCCCCC 25px -25px,  #CCCCCC 30px 10px,  #CCCCCC 60px 15px 0 -10px,  #CCCCCC 85px 5px 0 -5px;
  display: block;
  height: 50px;
  width: 50px;
/*  margin-left: -60px;*/
  position: absolute;
  position: absolute;
/*  left: 400px;
 top: -340px;*/
}

.rainy:after {
  -webkit-animation: rainy_shadow 5s ease-in-out infinite 1s;
          animation: rainy_shadow 5s ease-in-out infinite 1s;
  background: #000000;
  border-radius: 50%;
  content: '';
  height: 15px;
  width: 120px;
  opacity: 0.2;
  position: absolute;
  left: 5px;
  bottom: -60px;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.rainy:before {
  -webkit-animation: rainy_rain .7s infinite linear;
          animation: rainy_rain .7s infinite linear;
  content: '';
  background: #CCCCCC;
  border-radius: 50%;
  display: block;
  height: 6px;
  width: 3px;
  opacity: 0.3;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

@-webkit-keyframes rainy {
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@keyframes rainy {
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}
@-webkit-keyframes rainy_shadow {
  50% {
    -webkit-transform: translateY(20px) scale(1);
            transform: translateY(20px) scale(1);
    opacity: 0.05;
  }
}
@keyframes rainy_shadow {
  50% {
    -webkit-transform: translateY(20px) scale(1);
            transform: translateY(20px) scale(1);
    opacity: 0.05;
  }
}
@-webkit-keyframes rainy_rain {
  0% {
    box-shadow: transparent 30px 30px, transparent 40px 40px, #000 50px 75px, #000 55px 50px, #000 70px 100px, #000 80px 95px, #000 110px 45px, #000 90px 35px;
  }
  25% {
    box-shadow: #000 30px 45px, #000 40px 60px, #000 50px 90px, #000 55px 65px, transparent 70px 120px, transparent 80px 120px, #000 110px 70px, #000 90px 60px;
  }
  26% {
    box-shadow: #000 30px 45px, #000 40px 60px, #000 50px 90px, #000 55px 65px, transparent 70px 40px, transparent 80px 20px, #000 110px 70px, #000 90px 60px;
  }
  50% {
    box-shadow: #000 30px 70px, #000 40px 80px, transparent 50px 100px, #000 55px 80px, #000 70px 60px, #000 80px 45px, #000 110px 95px, #000 90px 85px;
  }
  51% {
    box-shadow: #000 30px 70px, #000 40px 80px, transparent 50px 45px, #000 55px 80px, #000 70px 60px, #000 80px 45px, #000 110px 95px, #000 90px 85px;
  }
  75% {
    box-shadow: #000 30px 95px, #000 40px 100px, #000 50px 60px, transparent 55px 95px, #000 70px 80px, #000 80px 70px, transparent 110px 120px, transparent 90px 110px;
  }
  76% {
    box-shadow: #000 30px 95px, #000 40px 100px, #000 50px 60px, transparent 55px 35px, #000 70px 80px, #000 80px 70px, transparent 110px 25px, transparent 90px 15px;
  }
  100% {
    box-shadow: transparent 30px 120px, transparent 40px 120px, #000 50px 75px, #000 55px 50px, #000 70px 100px, #000 80px 95px, #000 110px 45px, #000 90px 35px;
  }
}
@keyframes rainy_rain {
  0% {
    box-shadow: transparent 30px 30px, transparent 40px 40px, #000 50px 75px, #000 55px 50px, #000 70px 100px, #000 80px 95px, #000 110px 45px, #000 90px 35px;
  }
  25% {
    box-shadow: #000 30px 45px, #000 40px 60px, #000 50px 90px, #000 55px 65px, transparent 70px 120px, transparent 80px 120px, #000 110px 70px, #000 90px 60px;
  }
  26% {
    box-shadow: #000 30px 45px, #000 40px 60px, #000 50px 90px, #000 55px 65px, transparent 70px 40px, transparent 80px 20px, #000 110px 70px, #000 90px 60px;
  }
  50% {
    box-shadow: #000 30px 70px, #000 40px 80px, transparent 50px 100px, #000 55px 80px, #000 70px 60px, #000 80px 45px, #000 110px 95px, #000 90px 85px;
  }
  51% {
    box-shadow: #000 30px 70px, #000 40px 80px, transparent 50px 45px, #000 55px 80px, #000 70px 60px, #000 80px 45px, #000 110px 95px, #000 90px 85px;
  }
  75% {
    box-shadow: #000 30px 95px, #000 40px 100px, #000 50px 60px, transparent 55px 95px, #000 70px 80px, #000 80px 70px, transparent 110px 120px, transparent 90px 110px;
  }
  76% {
    box-shadow: #000 30px 95px, #000 40px 100px, #000 50px 60px, transparent 55px 35px, #000 70px 80px, #000 80px 70px, transparent 110px 25px, transparent 90px 15px;
  }
  100% {
    box-shadow: transparent 30px 120px, transparent 40px 120px, #000 50px 75px, #000 55px 50px, #000 70px 100px, #000 80px 95px, #000 110px 45px, #000 90px 35px;
  }
}
/* RAINBOW */
.rainbow {
  -webkit-animation: rainbow 5s ease-in-out infinite;
          animation: rainbow 5s ease-in-out infinite;
  border-radius: 170px 0 0 0;
  box-shadow: #FB323C -2px -2px 0 1px, #F99716 -4px -4px 0 3px, #FEE124 -6px -6px 0 5px, #AFDF2E -8px -8px 0 7px, #6AD7F8 -10px -10px 0 9px, #60B1F5 -12px -12px 0 11px, #A3459B -14px -14px 0 13px;
  height: 70px;
  width: 70px;
/*  margin-left: -40px;*/
  position: absolute;
/*  left: 400px;
  top: -340px;*/
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.rainbow:after {
  -webkit-animation: rainbow_shadow 5s ease-in-out infinite;
          animation: rainbow_shadow 5s ease-in-out infinite;
  background: #000000;
  border-radius: 50%;
  content: '';
  opacity: 0.2;
  height: 15px;
  width: 120px;
  position: absolute;
  bottom: -23px;
  left: 17px;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

@-webkit-keyframes rainbow {
  50% {
    -webkit-transform: rotate(50deg);
            transform: rotate(50deg);
  }
}

@keyframes rainbow {
  50% {
    -webkit-transform: rotate(50deg);
            transform: rotate(50deg);
  }
}
@-webkit-keyframes rainbow_shadow {
  50% {
    -webkit-transform: rotate(-50deg) translate(10px) scale(0.7);
            transform: rotate(-50deg) translate(10px) scale(0.7);
    opacity: 0.05;
  }
}
@keyframes rainbow_shadow {
  50% {
    -webkit-transform: rotate(-50deg) translate(10px) scale(0.7);
            transform: rotate(-50deg) translate(10px) scale(0.7);
    opacity: 0.05;
  }
}
/* STARRY */
.starry {
  -webkit-animation: starry_star 5s ease-in-out infinite;
          animation: starry_star 5s ease-in-out infinite;
  background: #fff;
  border-radius: 50%;
  box-shadow: #FFFFFF 26px 7px 0 -1px, rgba(255, 255, 255, 0.1) -36px -19px 0 -1px, rgba(255, 255, 255, 0.1) -51px -34px 0 -1px, #FFFFFF -52px -62px 0 -1px, #FFFFFF 14px -37px, rgba(255, 255, 255, 0.1) 41px -19px, #FFFFFF 34px -50px, rgba(255, 255, 255, 0.1) 14px -71px 0 -1px, #FFFFFF 64px -21px 0 -1px, rgba(255, 255, 255, 0.1) 32px -85px 0 -1px, #FFFFFF 64px -90px, rgba(255, 255, 255, 0.1) 60px -67px 0 -1px, #FFFFFF 34px -127px, rgba(255, 255, 255, 0.1) -26px -103px 0 -1px;
  height: 4px;
  width: 4px;
/*  margin-left: -10px;*/
  opacity: 1;
  position: absolute;
  top:50px;
/*  left: 400px;
  top: -300px;*/
}

.starry:after {
  -webkit-animation: starry 5s ease-in-out infinite;
          animation: starry 5s ease-in-out infinite;
  border-radius: 50%;
  box-shadow: #FFFFFF -25px 0;
  content: '';
  height: 100px;
  width: 100px;
  position: absolute;
  top: -106px;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
}

@-webkit-keyframes starry {
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@keyframes starry {
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}
@-webkit-keyframes starry_star {
  50% {
    box-shadow: rgba(255, 255, 255, 0.1) 26px 7px 0 -1px, #FFFFFF -36px -19px 0 -1px, #FFFFFF -51px -34px 0 -1px, rgba(255, 255, 255, 0.1) -52px -62px 0 -1px, rgba(255, 255, 255, 0.1) 14px -37px, #FFFFFF 41px -19px, rgba(255, 255, 255, 0.1) 34px -50px, #FFFFFF 14px -71px 0 -1px, rgba(255, 255, 255, 0.1) 64px -21px 0 -1px, #FFFFFF 32px -85px 0 -1px, rgba(255, 255, 255, 0.1) 64px -90px, #FFFFFF 60px -67px 0 -1px, rgba(255, 255, 255, 0.1) 34px -127px, #FFFFFF -26px -103px 0 -1px;
  }
}
@keyframes starry_star {
  50% {
    box-shadow: rgba(255, 255, 255, 0.1) 26px 7px 0 -1px, #FFFFFF -36px -19px 0 -1px, #FFFFFF -51px -34px 0 -1px, rgba(255, 255, 255, 0.1) -52px -62px 0 -1px, rgba(255, 255, 255, 0.1) 14px -37px, #FFFFFF 41px -19px, rgba(255, 255, 255, 0.1) 34px -50px, #FFFFFF 14px -71px 0 -1px, rgba(255, 255, 255, 0.1) 64px -21px 0 -1px, #FFFFFF 32px -85px 0 -1px, rgba(255, 255, 255, 0.1) 64px -90px, #FFFFFF 60px -67px 0 -1px, rgba(255, 255, 255, 0.1) 34px -127px, #FFFFFF -26px -103px 0 -1px;
  }
}
/* STORMY */
.stormy {
  -webkit-animation: stormy 5s ease-in-out infinite;
          animation: stormy 5s ease-in-out infinite;
  background: #222222;
  border-radius: 50%;
  box-shadow: #222222 65px -15px 0 -5px,  #222222 25px -25px,  #222222 30px 10px,  #222222 60px 15px 0 -10px,  #222222 85px 5px 0 -5px;
  height: 50px;
  width: 50px;
 /* margin-left: -60px;*/
  position: absolute;
/*  left: 400px;
  top: -340px;*/
}

.stormy:after {
  -webkit-animation: stormy_shadow 5s ease-in-out infinite;
          animation: stormy_shadow 5s ease-in-out infinite;
  background: #000;
  border-radius: 50%;
  content: '';
  height: 15px;
  width: 120px;
  opacity: 0.2;
  position: absolute;
  left: 5px;
  bottom: -60px;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.stormy:before {
  -webkit-animation: stormy_thunder 2s steps(1, end) infinite;
          animation: stormy_thunder 2s steps(1, end) infinite;
  border-left: 0px solid transparent;
  border-right: 7px solid transparent;
  border-top: 43px solid yellow;
  box-shadow: yellow -7px -32px;
  content: '';
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  left: 57px;
  top: 70px;
  -webkit-transform: rotate(14deg);
          transform: rotate(14deg);
  -webkit-transform-origin: 50% -60px;
          transform-origin: 50% -60px;
}

@-webkit-keyframes stormy {
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@keyframes stormy {
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}
@-webkit-keyframes stormy_shadow {
  50% {
    -webkit-transform: translateY(20px) scale(1);
            transform: translateY(20px) scale(1);
    opacity: 0.05;
  }
}
@keyframes stormy_shadow {
  50% {
    -webkit-transform: translateY(20px) scale(1);
            transform: translateY(20px) scale(1);
    opacity: 0.05;
  }
}
@-webkit-keyframes stormy_thunder {
  0% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
    opacity: 1;
  }
  5% {
    -webkit-transform: rotate(-34deg);
            transform: rotate(-34deg);
    opacity: 1;
  }
  10% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  15% {
    -webkit-transform: rotate(-34deg);
            transform: rotate(-34deg);
    opacity: 0;
  }
}
@keyframes stormy_thunder {
  0% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
    opacity: 1;
  }
  5% {
    -webkit-transform: rotate(-34deg);
            transform: rotate(-34deg);
    opacity: 1;
  }
  10% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  15% {
    -webkit-transform: rotate(-34deg);
            transform: rotate(-34deg);
    opacity: 0;
  }
}
/* SNOWY */
.snowy {
  -webkit-animation: snowy 5s ease-in-out infinite 1s;
          animation: snowy 5s ease-in-out infinite 1s;
  background: #FFFFFF;
  border-radius: 50%;
  box-shadow: #FFFFFF 65px -15px 0 -5px,  #FFFFFF 25px -25px,  #FFFFFF 30px 10px,  #FFFFFF 60px 15px 0 -10px,  #FFFFFF 85px 5px 0 -5px;
  display: block;
  height: 50px;
  width: 50px;
/*  margin-left: -60px;*/
  position: absolute;
/*  left: 400px;
  top: -340px;*/
}

.snowy:after {
  -webkit-animation: snowy_shadow 5s ease-in-out infinite 1s;
          animation: snowy_shadow 5s ease-in-out infinite 1s;
  background: #000000;
  border-radius: 50%;
  content: '';
  height: 15px;
  width: 120px;
  opacity: 0.2;
  position: absolute;
  left: 8px;
  bottom: -60px;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.snowy:before {
  -webkit-animation: snowy_snow 2s infinite linear;
          animation: snowy_snow 2s infinite linear;
  content: '';
  border-radius: 50%;
  display: block;
  height: 7px;
  width: 7px;
  opacity: 0.8;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

@-webkit-keyframes snowy {
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@keyframes snowy {
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}
@-webkit-keyframes snowy_shadow {
  50% {
    -webkit-transform: translateY(20px) scale(1);
            transform: translateY(20px) scale(1);
    opacity: 0.05;
  }
}
@keyframes snowy_shadow {
  50% {
    -webkit-transform: translateY(20px) scale(1);
            transform: translateY(20px) scale(1);
    opacity: 0.05;
  }
}
@-webkit-keyframes snowy_snow {
  0% {
    box-shadow: rgba(238, 238, 238, 0) 30px 30px, rgba(238, 238, 238, 0) 40px 40px, #EEEEEE 50px 75px, #EEEEEE 55px 50px, #EEEEEE 70px 100px, #EEEEEE 80px 95px, #EEEEEE 110px 45px, #EEEEEE 90px 35px;
  }
  25% {
    box-shadow: #EEEEEE 30px 45px, #EEEEEE 40px 60px, #EEEEEE 50px 90px, #EEEEEE 55px 65px, rgba(238, 238, 238, 0) 70px 120px, rgba(238, 238, 238, 0) 80px 120px, #EEEEEE 110px 70px, #EEEEEE 90px 60px;
  }
  26% {
    box-shadow: #EEEEEE 30px 45px, #EEEEEE 40px 60px, #EEEEEE 50px 90px, #EEEEEE 55px 65px, rgba(238, 238, 238, 0) 70px 40px, rgba(238, 238, 238, 0) 80px 20px, #EEEEEE 110px 70px, #EEEEEE 90px 60px;
  }
  50% {
    box-shadow: #EEEEEE 30px 70px, #EEEEEE 40px 80px, rgba(238, 238, 238, 0) 50px 100px, #EEEEEE 55px 80px, #EEEEEE 70px 60px, #EEEEEE 80px 45px, #EEEEEE 110px 95px, #EEEEEE 90px 85px;
  }
  51% {
    box-shadow: #EEEEEE 30px 70px, #EEEEEE 40px 80px, rgba(238, 238, 238, 0) 50px 45px, #EEEEEE 55px 80px, #EEEEEE 70px 60px, #EEEEEE 80px 45px, #EEEEEE 110px 95px, #EEEEEE 90px 85px;
  }
  75% {
    box-shadow: #EEEEEE 30px 95px, #EEEEEE 40px 100px, #EEEEEE 50px 60px, rgba(238, 238, 238, 0) 55px 95px, #EEEEEE 70px 80px, #EEEEEE 80px 70px, rgba(238, 238, 238, 0) 110px 120px, rgba(238, 238, 238, 0) 90px 110px;
  }
  76% {
    box-shadow: #EEEEEE 30px 95px, #EEEEEE 40px 100px, #EEEEEE 50px 60px, rgba(238, 238, 238, 0) 55px 35px, #EEEEEE 70px 80px, #EEEEEE 80px 70px, rgba(238, 238, 238, 0) 110px 25px, rgba(238, 238, 238, 0) 90px 15px;
  }
  100% {
    box-shadow: rgba(238, 238, 238, 0) 30px 120px, rgba(238, 238, 238, 0) 40px 120px, #EEEEEE 50px 75px, #EEEEEE 55px 50px, #EEEEEE 70px 100px, #EEEEEE 80px 95px, #EEEEEE 110px 45px, #EEEEEE 90px 35px;
  }
}
@keyframes snowy_snow {
  0% {
    box-shadow: rgba(238, 238, 238, 0) 30px 30px, rgba(238, 238, 238, 0) 40px 40px, #EEEEEE 50px 75px, #EEEEEE 55px 50px, #EEEEEE 70px 100px, #EEEEEE 80px 95px, #EEEEEE 110px 45px, #EEEEEE 90px 35px;
  }
  25% {
    box-shadow: #EEEEEE 30px 45px, #EEEEEE 40px 60px, #EEEEEE 50px 90px, #EEEEEE 55px 65px, rgba(238, 238, 238, 0) 70px 120px, rgba(238, 238, 238, 0) 80px 120px, #EEEEEE 110px 70px, #EEEEEE 90px 60px;
  }
  26% {
    box-shadow: #EEEEEE 30px 45px, #EEEEEE 40px 60px, #EEEEEE 50px 90px, #EEEEEE 55px 65px, rgba(238, 238, 238, 0) 70px 40px, rgba(238, 238, 238, 0) 80px 20px, #EEEEEE 110px 70px, #EEEEEE 90px 60px;
  }
  50% {
    box-shadow: #EEEEEE 30px 70px, #EEEEEE 40px 80px, rgba(238, 238, 238, 0) 50px 100px, #EEEEEE 55px 80px, #EEEEEE 70px 60px, #EEEEEE 80px 45px, #EEEEEE 110px 95px, #EEEEEE 90px 85px;
  }
  51% {
    box-shadow: #EEEEEE 30px 70px, #EEEEEE 40px 80px, rgba(238, 238, 238, 0) 50px 45px, #EEEEEE 55px 80px, #EEEEEE 70px 60px, #EEEEEE 80px 45px, #EEEEEE 110px 95px, #EEEEEE 90px 85px;
  }
  75% {
    box-shadow: #EEEEEE 30px 95px, #EEEEEE 40px 100px, #EEEEEE 50px 60px, rgba(238, 238, 238, 0) 55px 95px, #EEEEEE 70px 80px, #EEEEEE 80px 70px, rgba(238, 238, 238, 0) 110px 120px, rgba(238, 238, 238, 0) 90px 110px;
  }
  76% {
    box-shadow: #EEEEEE 30px 95px, #EEEEEE 40px 100px, #EEEEEE 50px 60px, rgba(238, 238, 238, 0) 55px 35px, #EEEEEE 70px 80px, #EEEEEE 80px 70px, rgba(238, 238, 238, 0) 110px 25px, rgba(238, 238, 238, 0) 90px 15px;
  }
  100% {
    box-shadow: rgba(238, 238, 238, 0) 30px 120px, rgba(238, 238, 238, 0) 40px 120px, #EEEEEE 50px 75px, #EEEEEE 55px 50px, #EEEEEE 70px 100px, #EEEEEE 80px 95px, #EEEEEE 110px 45px, #EEEEEE 90px 35px;
  }
}
/*body {
  font-family: sans-serif;
  background: #f5f5f5;
  margin: 0;
}

h1 {
  text-align: center;
  font-weight: 400;
  position: absolute;
  width: 100%;
  font-size: 15px;
  top: 50%;
  margin-top: -130px;
  opacity: .6;
  letter-spacing: 2px;
}*/

#fabrizio {
  border-top: 100px solid black;
  border-right: 63px solid transparent;
  width: 0;
  -webkit-transform: scale(0.33);
          transform: scale(0.33);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  margin: 20px;
  opacity: .6;
  display: none;
}

#fabrizio:before {
  background: black;
  width: 20px;
  height: 30px;
  content: '';
  display: block;
  -webkit-transform: skewX(-32deg);
          transform: skewX(-32deg);
  position: relative;
  top: -64px;
  left: 30px;
}

#fabrizio:after {
  background: black;
  width: 40px;
  height: 36px;
  content: '';
  display: block;
  -webkit-transform: skewX(-32deg);
          transform: skewX(-32deg);
  position: relative;
  top: -130px;
  left: 50px;
}

a {
  position: absolute;
  top: 30px;
  left: 60px;
  color: #777;
  text-decoration: none;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: none;
}

.weathersymbol {
/*background: -webkit-linear-gradient(left, #00BBFF, #00BBFF 14.3%, #2EB5E5 14.3%, #2EB5E5 28.6%, #E6E6E6 28.6%, #E6E6E6 42.9%, #F3D166 42.9%, #F3D166 57.2%, #222233 57.2%, #222233 71.5%, #444444 71.5%, #444444 85.8%, #85DB8C 85.8%);
  background: linear-gradient(left, #00BBFF, #00BBFF 14.3%, #2EB5E5 14.3%, #2EB5E5 28.6%, #E6E6E6 28.6%, #E6E6E6 42.9%, #F3D166 42.9%, #F3D166 57.2%, #222233 57.2%, #222233 71.5%, #444444 71.5%, #444444 85.8%, #85DB8C 85.8%);*/
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  width: 210px;
  position: relative;
  height: 210px;
  left: 600px;
}

body {
  padding: 50px 0;
  text-align: center;
}

input {
  margin-bottom: 30px;
}

li.water-bottle { float:left;margin-right:15px;}
ul { list-style-type:none; }

.bottle { background: #ddd;
    width: 62px;
    border-radius: 23px 23px 6px 6px;
    height: 126px;
    padding: 6px;
    box-shadow: 3px 3px 3px #efefef;
    margin-bottom: 4px;}
.bottle:hover { background: #eee;box-shadow: 2px  2px 2px #efefef;}


.cap { 
background: #ddd;
    margin: 0 25px;
    width: 46px;
    border-radius: 8px 8px 10px 12px;
    height: 32px;
    position: relative;
    left: -16px;
    border-top: 1px solid #ddd;
    border-bottom: 2px dotted #efefef;
    }
.cap-top { background:#ededed; height:6px; border-radius:10px 10px 0 0; }
.cap-seal { margin-top:20px;background:#ccc; height:6px; border-radius: 0 0 10px 10px; }

.water-full { 
  background: lightblue;
      width: 64px;
      margin-top: -1px;
      height: 122px;
      position: relative;
      left: -6px;
      z-index: 1;
      border-radius: 28px 28px 10px 10px;

}
.water-medium { background: lightblue;
    width: 63px;
    position: relative;
    height: 68px;
    margin-top: 52px;
    left: -6px;
    z-index: 1;
    border-radius: 15px 15px 10px 10px;
}
.water-low { 
  background: lightblue;
      width: 65px;
      height: 32px;
      margin-top: 89px;
      position: relative;
      left: -7px;
      z-index: 1;
      border-radius: 28px 28px 10px 10px;
}
.water-empty { 
  background: lightblue;
  width: 63px;
  height: 10px;
  margin-top: 111px;
  position: relative;
  left: -5px;
  z-index: 1;
  border-radius: 28px 28px 10px 10px;
}

.cylinder {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  margin: 0 auto;
  width: 100px;
  height: 300px;
  border-radius: 50px/25px;
  background-color: rgba(160, 160, 160, 0.5);
}

.cylinder:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 50px;
  border-radius: 50px/25px;
  background-color: rgba(160, 160, 160, 0.2);
  content: '';
}

.cylinder:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100px;
  height: 50px;
  border-radius: 50px/25px;
  background-color: rgba(160, 160, 160, 0.4);
  content: '';
}

.water {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100px;
  height: 0;
  padding-top: 50px;
  border-radius: 50px/25px;
  background-color: rgba(0, 160, 160, 0.5);
  transition: 0.3s linear;
}

.water:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 50px;
  border-radius: 50px/25px;
  background-color: rgba(0, 160, 160, 0.2);
  content: '';
}

.water:after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100px;
  height: 50px;
  border-radius: 50px/25px;
  background-color: rgba(0, 160, 160, 0.4);
  content: '';
}

.water--0:checked ~ .cylinder .water {
  bottom: -50px;
}

.water--30:checked ~ .cylinder .water {
  height: calc(250px * 0.3);
}

.water--50:checked ~ .cylinder .water {
  height: calc(250px * 0.5);
}

.water--90:checked ~ .cylinder .water {
  height: calc(250px * 0.9);
}

dial{
  width: 200px;
  height: 106px;
  margin-top: 0px;
  position: absolute;
  display: inline-block;
  overflow: mn;
}

#dotcenter{
  width: 31px;
  left: 23px;
  position: absolute;
  top: 86px;
}

#handle{
  width: 36px;
  left: 96px;
  position: absolute;
  top: 94px;
  left: 31px;
  z-index: 3;
}

#dial0{
  width: 67px;
      height: 197px;
      position: absolute;
      display: inline-block;
      left: 4px;
}

.circleDial{fill:#444955;}

#dialseg1{
  position: absolute;
  display: inline-block;
  width: 20px;
  left: 10px;
  top: 80px;
}

#dialseg2{
  position: absolute;
  display: inline-block;
  top: 53px;
  left: 16px;
  height: 59px;
  width: 47px;
  fill: #E0C21A;
}
.gaugeseg2{fill:#e0c21a;}

#dialseg3{
  position: absolute;
  display: inline-block;
  width: 19px;
  left: 46px;
  top: 79px;
  fill: #E85048;
  z-index: 1;
}
.gaugeseg3{fill:#e85048;}

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}
body ::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}
body :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}
body ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}
body :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}
.wrapper {
  background: #50a3a2;
  background: -webkit-linear-gradient(top left, #50a3a2 0%, #53e3a6 100%);
  background: linear-gradient(to bottom right, #50a3a2 0%, #53e3a6 100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  overflow: hidden;
  z-index: 1;
}
.wrapper.form-success .container h1 {
  -webkit-transform: translateY(85px);
          transform: translateY(85px);
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 80px 0;
  height: 400px;
  text-align: center;
}
.container h1 {
  font-size: 40px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease-in-put;
          transition-timing-function: ease-in-put;
  font-weight: 200;
}
form {
  padding: 20px 0;
  position: relative;
  z-index: 2000;
}
form input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    width: 250px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: white;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    font-weight: 300;
    z-index: 2000;
    display: block;
    /* position: fixed; */
}
form input:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
form input:focus {
  background-color: white;
  width: 300px;
  color: #53e3a6;
}
form button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: #53e3a6;
    border-radius: 3px;
    width: 250px;
    cursor: pointer;
    font-size: 18px;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    z-index: 2000;
    display: block;
    /* position: fixed; */
    margin: 0 auto;
}
form button:hover {
  background-color: #f5f7f9;
}
.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.15);
  bottom: -160px;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}
.bg-bubbles li:nth-child(1) {
  left: 10%;
}
.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
}
.bg-bubbles li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
  background-color: rgba(255, 255, 255, 0.25);
}
.bg-bubbles li:nth-child(5) {
  left: 70%;
}
.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  background-color: rgba(255, 255, 255, 0.2);
}
.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}
.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
}
.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  background-color: rgba(255, 255, 255, 0.3);
}
.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}
@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
  }
}
